<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="karu.videoview">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity"
            android:configChanges="orientation|screenSize"
            >

        </activity>
        <activity android:name=".WatchVideo"   android:configChanges="orientation|screenSize"
            />
        <activity android:name=".Rating"
            android:theme="@style/AppTheme.MyTheme">
        </activity>
    </application>

</manifest>